{% extends "admin/admin-layout.html" %}
{%block content%}

<div class="view-list">
  
  <h2>Diseases List</h2>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Slug</th>
      <th>Category</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
    {% if diseases %}
      {% for disease in diseases %}
        <tr>
          <td><button class="btn-admin btn-trash"><i class="fa fa-trash"></i></button></td>
          <td><button class="btn-admin btn-edit"><i class="fa fa-edit"></i></button></td>
          <td>{{ disease[1] }}</td> 
          <td>{{ disease[2] }}</td>
          <td>{{ disease[3] }}</td>
          <td>{{ disease[4] }}</td>  
          <td>{{ disease[5] }}</td>   
        </tr>
      {% endfor %}
    {% endif %}
    
  
  </table>
</div>

{%endblock content%}